<h1>Dominic Sayers</h1>
<p>Hi, I would like to apply for the position of Developer Intern at Anthemis Group</p>
<h3>My skills</h3>
<p>I have been using Ruby on Rails in some personal projects, but now I feel it's the right time to
crank up my skill level to a commercial standard.</p>
<p>Here is the GitHub repository for a project that I contributed significantly to: xxx</p>
<p>I'm also familiar with coding in PHP, Java, Haskell and Javascript (using the jQuery framework)</p>
<p>My GitHub handle is <a href="https://github.com/dominicsayers">dominicsayers</a> and I'm also
<a href="https://www.ohloh.net/accounts/dominicsayers">dominicsayers</a> on Ohloh and
<a href="http://code.google.com/u/108043462979289233324/">dominic.sayers</a> on Google Code.</p>
<h3>Why I'm the right person for the role</h3>
<p>I'm as enthusiastic as Wibbly Pig's Silly Big Bear, but I can count better.</p>
<p>When I graduate I plan to follow a career in financial services, but I'd rather work
for a startup than one of the established banks</p>
<p>I love talking to people about what's bugging them and coming up with really cool ways for them to do it better.</p>
<h3>About me</h3>
<p>I'm a final-year student at University College London, studying Mediaeval Chemistry and Hocus Pocus.</p>
<p>In my spare time, when I'm not coding, I like to cook using ingredients found in the lab.</p>
<p>You can contact me at <a href="mailto:dominic@anthemis.com">dominic@anthemis.com</a></p>
<p>My Twitter id is <a href="http://twitter.com/dominicsayers">dominicsayers</a></p>
<p>I also have a <a href="http://blog.dominicsayers.com">blog</a></p>
