<h1>Anthemis Group: Developer Intern 2012</h1>

<% @instructions.each do |instruction| %>
<h3><%= instruction.title %></h3>
<div><%= raw RDiscount.new(instruction.text).to_html.html_safe %></div>
<% end %>
